# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
.vscode/

# workshop files that are part of the assignment
Program.cs
*.csproj
appsettings.*
Properties/launchSettings.json
appsettings.json

~*